body {
    font-family: 'Comfortaa', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
  }
  
  th, td {
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
  }
  
  td:first-child {
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    table {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 576px) {
    table {
      font-size: 12px;
    }
  }