body {
    font-family: 'Comfortaa', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
  }
  
  th {
    background-color: #343a40;
    color: #010000;
    font-weight: bold;
    text-align: left;
  }
  

  td:first-child {
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    table {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 576px) {
    table {
      font-size: 12px;
    }
  }